.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.4);
}

.modal__title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1, 5;
  color: #131313;
  margin-bottom: 20px;
}
.modal__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 4;
  color: #131313;
}

.modal__text--margin-bottom {
  margin-bottom: 24px;
}
