.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  overflow-y: scroll;
  z-index: 1000;
  &.modal-is-hidden {
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
body.modal-open {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 30px 28px;
  background: #fcfcfc;
  border: 2px solid var(--accent-color-yellow);
  border-radius: 10px;
  opacity: 1;
  transform: scaleX(1) scaleY(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.modal-is-hidden & {
    transform: scaleX(0.1) scaleY(0.8);
  }
  @extend %align-justify-center;
  flex-direction: column;
  @include tablet {
    padding: 32px 58px;
  }
  @media screen and (max-height: 669px) {
    top: 0;
    transform: translate(-50%);
  }
}

.modal__title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-dark);
  margin-bottom: 20px;
  text-align: center;
  @include tablet {
    max-width: 340px;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.modal__text {
  font-family: 'Montserrat';

  font-size: 14px;
  line-height: 1.4;
  color: var(--text-color-dark);
  @include tablet {
    font-size: 16px;
  }
}

.modal__text--margin-bottom {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 32px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @include tablet {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  //========================================================== используйте это для этого класса=================================================
  // <button  type="button" class="modal__btn-close">
  //   <svg width="20" height="20">
  //     <use
  //       class="modal__icon--mobile"
  //       href="./images/icons.svg#icon-close-btn-mobile"
  //     ></use>
  //     <use
  //       class="modal__icon--desktop"
  //       href="./images/icons.svg#icon-close-btn-desktop"
  //     ></use>
  //   </svg>
  // </button>
  //========================================================== используйте это для этого класса=================================================

  cursor: pointer;
  padding: 0;
  width: 16px;
  height: 16px;
  @extend %align-justify-center;
  background-color: transparent;
  border: none;
}

.modal__icon--mobile {
  @include tablet {
    display: none;
  }
}
.modal__icon--desktop {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
  @include tablet {
    display: block;
  }
}

.modal__form {
  width: 100%;

  max-width: 368px;
}

.modal__form-field {
  @extend %align-justify-center;
}

.modal__form-field {
  margin-bottom: 12px;
  @include tablet {
    margin-bottom: 16px;
  }
}

.modal__form-field--other-margin {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 32px;
  }
}

.modal__form-field--not-margin {
  margin: 0;
}

.modal__input,
.modal__textarea {
  width: 100%;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--bgc-dark-olive);
  border-radius: 10px;

  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1, 4;
  color: var(--text-color-dark);
  outline: none;
  &::placeholder {
    color: var(--text-color-dark);
  }
  &:focus {
    border: 1px solid var(--accent-color-yellow);
  }
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    padding: 11px 16px;
    font-size: 14px;
  }
  &:not(:placeholder-shown):valid {
    border-color: var(--hover-focus-green-color);
  }
  &:not(:placeholder-shown):invalid {
    border-color: #88430a;
  }
}

.modal__input {
  height: 32px;
  @include tablet {
    height: 42px;
  }
}

.modal__textarea {
  resize: none;
  height: 64px;
  @include tablet {
    height: 84px;
  }
}

.modal__btn {
  width: 114px;
  height: 42px;
  padding: 0;

  background: var(--accent-color-yellow);
  border-radius: 10px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  @extend %align-justify-center;
  @include tablet {
    width: 121px;
    font-size: 14px;
    line-height: 17px;
  }

  cursor: pointer;
  outline: none;
  color: var(--text-color-dark);
  border: none;

  .modal__form:not(:valid) & {
    background-color: #ababab;
  }
  &:hover,
  &:focus {
    background-color: var(--hover-focus-green-color);
  }
  &:focus {
    color: var(--text-color-light);
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__map {
  width: 100%;

  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 32px;
  }
}
