@import '~node_modules/modern-normalize/modern-normalize.css';
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.gallery {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .gallery {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1200px;
  }
}

.gallery__thumb {
  position: relative;
  width: 280px;
  top: -16px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border-radius: 7px;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  border: none;
}
.gallery__thumb .gallery__main {
  position: relative;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.gallery__thumb .gallery__second {
  position: absolute;
  top: 0;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  z-index: -1;
}
.gallery__thumb .gallery__third {
  position: absolute;
  top: 0;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  z-index: -2;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
@media screen and (min-width: 480px) {
  .gallery__thumb {
    width: 440px;
    top: -22px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__thumb {
    width: 768px;
    top: -50px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__thumb {
    width: 1013px;
    top: -92px;
    border-radius: 24px;
  }
}

.gallery__main-image {
  display: block;
  width: 100%;
  height: auto;
}

@-webkit-keyframes rotate {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  59.99999% {
    transform: rotate(45deg) scale(3);
    opacity: 0;
    z-index: 1;
  }
  60% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  59.99999% {
    transform: rotate(45deg) scale(3);
    opacity: 0;
    z-index: 1;
  }
  60% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */