@import '~node_modules/modern-normalize/modern-normalize.css';
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.cust-rev-font, .cust-rev-image4, .cust-rev-image3, .cust-rev-image2, .cust-rev-image1, .about-btn, .hero-list__link, .modal__btn, .modal__form-field, .modal__btn-close, .modal, .backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --accent-color-yellow: #f8d24e;
  --title-color-light: #fcfcfc;
  --text-color-light: #fcfcfc;
  --title-color-dark: #131313;
  --text-color-dark: #131313;
  --hover-focus-green-color: #0a8817;
  --bgc-dark-olive: #84a178;
  --bgc-light-olive: #aec6a5;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  padding: 0 30px;
}
.backdrop.modal-is-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.modal-open {
  overflow: hidden;
}

.modal {
  padding: 30px 28px;
  background: #fcfcfc;
  border: 2px solid var(--accent-color-yellow);
  border-radius: 10px;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
}
.backdrop.modal-is-hidden .modal {
  transform: scaleX(0.1) scaleY(0.8);
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 32px 58px;
  }
}

.modal__title {
  font-family: "Seymour One";
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-dark);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal__title {
    max-width: 340px;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.modal__text {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.4;
  color: var(--text-color-dark);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .modal__text {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.modal__text--margin-bottom {
  margin-bottom: 24px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .modal__btn-close {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .modal__icon--mobile {
    display: none;
  }
}

.modal__icon--desktop {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .modal__icon--desktop {
    display: block;
  }
}

.modal__form {
  width: 100%;
  max-width: 368px;
}

.modal__form-field {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .modal__form-field {
    margin-bottom: 16px;
  }
}

.modal__form-field--other-margin {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .modal__form-field--other-margin {
    margin-bottom: 32px;
  }
}

.modal__form-field--not-margin {
  margin: 0;
}

.modal__input,
.modal__textarea {
  width: 100%;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--bgc-dark-olive);
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1, 4;
  color: var(--text-color-dark);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input::-moz-placeholder, .modal__textarea::-moz-placeholder {
  color: var(--text-color-dark);
}
.modal__input:-ms-input-placeholder, .modal__textarea:-ms-input-placeholder {
  color: var(--text-color-dark);
}
.modal__input::placeholder,
.modal__textarea::placeholder {
  color: var(--text-color-dark);
}
.modal__input:focus,
.modal__textarea:focus {
  border: 1px solid var(--accent-color-yellow);
}
@media screen and (min-width: 768px) {
  .modal__input,
.modal__textarea {
    padding: 11px 16px;
    font-size: 14px;
  }
}
.modal__input:not(:-moz-placeholder-shown):valid, .modal__textarea:not(:-moz-placeholder-shown):valid {
  border-color: var(--hover-focus-green-color);
}
.modal__input:not(:-ms-input-placeholder):valid, .modal__textarea:not(:-ms-input-placeholder):valid {
  border-color: var(--hover-focus-green-color);
}
.modal__input:not(:placeholder-shown):valid,
.modal__textarea:not(:placeholder-shown):valid {
  border-color: var(--hover-focus-green-color);
}
.modal__input:not(:-moz-placeholder-shown):invalid, .modal__textarea:not(:-moz-placeholder-shown):invalid {
  border-color: #88430a;
}
.modal__input:not(:-ms-input-placeholder):invalid, .modal__textarea:not(:-ms-input-placeholder):invalid {
  border-color: #88430a;
}
.modal__input:not(:placeholder-shown):invalid,
.modal__textarea:not(:placeholder-shown):invalid {
  border-color: #88430a;
}

.modal__input {
  height: 32px;
}
@media screen and (min-width: 768px) {
  .modal__input {
    height: 42px;
  }
}

.modal__textarea {
  resize: none;
  height: 64px;
}
@media screen and (min-width: 768px) {
  .modal__textarea {
    height: 84px;
  }
}

.modal__btn {
  width: 114px;
  height: 42px;
  padding: 0;
  background: var(--accent-color-yellow);
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  outline: none;
  color: var(--text-color-dark);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal__btn {
    width: 121px;
    font-size: 14px;
    line-height: 17px;
  }
}
.modal__form:not(:valid) .modal__btn {
  background-color: #ababab;
}
.modal__btn:hover, .modal__btn:focus {
  background-color: var(--hover-focus-green-color);
}
.modal__btn:focus {
  color: var(--text-color-light);
}

.modal__map {
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .modal__map {
    margin-bottom: 32px;
  }
}

.header {
  position: absolute;
  width: 100vw;
  z-index: 1;
  background-color: transparent;
}

.logo {
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 269px;
  }
}

.header__container {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__container {
    align-items: center;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-button {
  display: block;
  width: 152px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #f8d24e;
  border: none;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #131313;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
@media screen and (max-width: 767px) {
  .header-button {
    display: none;
  }
}
.header-button:hover {
  background-color: #0a8817;
}
.header-button:focus {
  color: #fcfcfc;
  background-color: #0a8817;
}

.hero__container {
  position: relative;
  height: 100%;
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .hero__container {
    max-width: 320px;
    background-image: url(../images/Hero_points_mobile-NN-min.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/Hero_points_mobile-NN@2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    width: 768px;
    padding-top: 104px;
    background-image: url(../images/Hero_points_tablet-NN-min.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
    padding-top: 118px;
    background-image: url(../images/Hero_points_desktop-NN-min.png);
  }
}

@media screen and (max-width: 1199px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    display: flex;
    gap: 27px;
  }
}
.navigation__link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fcfcfc;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color-yellow);
}

.hero {
  height: 502px;
  background-color: var(--bgc-dark-olive);
}
@media screen and (min-width: 768px) {
  .hero {
    height: 415px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 664px;
  }
}

.hero-box {
  display: flex;
  margin-left: auto;
  margin-bottom: 56px;
}
@media screen and (min-width: 1200px) {
  .hero-box {
    margin-bottom: 109px;
  }
}

.sales-point-list {
  margin-left: auto;
}

.hero__title {
  width: 247px;
  margin-bottom: 32px;
  font-family: "Seymour One";
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.hero__title .hero__title--big-word {
  font-size: 34px;
  line-height: 0.97;
}
@media screen and (min-width: 768px) {
  .hero__title .hero__title--big-word {
    font-size: 24px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title .hero__title--big-word {
    font-size: 38px;
    line-height: 1.26;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 20px;
    width: 181px;
    font-size: 18px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 28px;
    width: 367px;
    font-size: 38px;
    line-height: 1.26;
  }
}

.hero-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .hero-list {
    gap: 34px;
  }
}

.hero-list__item {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .hero-list__item {
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero-list__item:first-child .hero-list__link {
  width: 62px;
  height: 24px;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  color: #131313;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
@media screen and (min-width: 1200px) {
  .hero-list__item:first-child .hero-list__link {
    width: 134px;
    height: 42px;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    color: #131313;
  }
}
.hero-list__item:first-child .hero-list__link:hover {
  border-color: #0a8817;
}
.hero-list__item:first-child .hero-list__link:focus {
  border-color: #0a8817;
  color: #fcfcfc;
  outline: none;
}
.hero-list__item:last-child .hero-list__link {
  width: 83px;
  height: 24px;
  text-decoration: underline;
  color: #f8d24e;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
@media screen and (min-width: 1200px) {
  .hero-list__item:last-child .hero-list__link {
    width: 111px;
    height: 42px;
  }
}
.hero-list__item:last-child .hero-list__link:hover {
  color: #0a8817;
}
.hero-list__item:last-child .hero-list__link:focus {
  color: #fcfcfc;
}

.hero-text {
  width: 100%;
  margin-bottom: 13px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1.4;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .hero-text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.text-arrow-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 197px;
  width: 151px;
}
@media screen and (max-width: 767px) {
  .text-arrow-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .text-arrow-wrapper {
    width: 200px;
    margin-left: 240px;
  }
}

@media screen and (max-width: 767px) {
  .hero-first-image {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-first-image {
    position: absolute;
    left: 32px;
    bottom: 13px;
    width: 152px;
    height: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-first-image {
    left: 17px;
    bottom: 65px;
    width: 225px;
    height: 225px;
  }
}

.arrow-link__icon {
  fill: #fcfcfc;
}

.arrow-link__icon--hover,
.arrow-link__icon--focus {
  display: none;
}

.arrow-link:hover .arrow-link__icon--default {
  display: none;
}
.arrow-link:hover .arrow-link__icon--hover {
  display: inline-block;
}

.arrow-link:focus .arrow-link__icon--default,
.arrow-link:focus .arrow-link__icon--hover {
  display: none;
}
.arrow-link:focus .arrow-link__icon--focus {
  display: inline-block;
}

.hero-second-image {
  width: 170px;
  position: absolute;
  left: 82px;
  bottom: 0;
  filter: drop-shadow(0px 0px 27px rgba(252, 252, 252, 0.44));
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
@media screen and (min-width: 768px) {
  .hero-second-image {
    width: 257px;
    left: 418px;
    filter: drop-shadow(0px 0px 28px rgba(252, 252, 252, 0.44));
  }
}
@media screen and (min-width: 1200px) {
  .hero-second-image {
    width: 484px;
    left: 651px;
    filter: drop-shadow(0px 0px 50px rgba(252, 252, 252, 0.44));
  }
}
.hero-second-image:hover {
  filter: drop-shadow(0px 0px 150px rgb(252, 252, 252));
}

@media screen and (max-width: 767px) {
  .sales-point-list {
    display: none;
  }
}

.sales-point-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;
}
.sales-point-list__item span {
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 0.04em;
  text-align: right;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .sales-point-list__item span {
    font-size: 28px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #131313;
  }
}
@media screen and (min-width: 1200px) {
  .sales-point-list__item span {
    font-size: 46px;
    line-height: 1.22;
  }
}

.sales-point-list__text {
  font-family: "Montserrat";
  font-size: 8px;
  line-height: 1.25;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .sales-point-list__text {
    font-size: 14px;
    line-height: 1.21;
  }
}

.menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: red;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: pink;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    top: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: #ffffff;
}
.mobile-menu-toggle:hover, .mobile-menu-toggle:focus {
  fill: pink;
}
@media screen and (min-width: 768px) {
  .mobile-menu-toggle {
    margin: 0 32px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 32px;
  background-color: #97af8d;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-y: scroll;
}

.button-box {
  margin-left: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle__cross-icon {
  fill: #fcfcfc;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767.5px) {
  .site-nav {
    display: none;
  }
}
@media screen and (max-width: 767.5px) {
  .header__contacts {
    display: none;
  }
}
.mobile-nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 111px;
}
@media screen and (min-width: 768px) {
  .mobile-nav-list {
    gap: 40px;
  }
}

.mobile-nav-list__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .mobile-nav-list__link {
    font-size: 48px;
    line-height: 1.23;
  }
}
.mobile-nav-list__link:hover {
  color: #131313;
}

.menu-container__logo {
  margin-bottom: 51px;
}
@media screen and (min-width: 768px) {
  .menu-container__logo {
    margin-bottom: 76px;
  }
}

.menu-container__header-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
@media screen and (min-width: 768px) {
  .menu-container__header-button {
    display: none;
  }
}
.menu-container__header-button:hover {
  background-color: #0a8817;
}
.menu-container__header-button:focus {
  color: #fcfcfc;
  background-color: #0a8817;
}

.products {
  padding: 60px 20px;
  display: block;
  text-align: center;
}

.products__paragraph {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: none;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.products__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 40;
  color: #131313;
}

.products-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 56px;
}

.products-list__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #131313;
}

.products-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
}

.about-section {
  background: #84a178;
  padding-top: 60px;
}

.about-pre-titile_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;
}

.about-titile {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin: 0 auto;
  margin-bottom: 32px;
  padding-left: 56px;
  padding-right: 64px;
  min-width: 200px;
}
@media screen and (min-width: 768px) {
  .about-titile {
    margin-bottom: 82px;
  }
}

.about-container {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .about-container {
    margin-left: 18px;
    margin-right: 121px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

.about-img {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about-img {
    min-width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img {
    max-width: 500px;
  }
}

.about-img__picture {
  width: 100%;
  border-radius: 1040px;
}
.about-pre-text {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about-pre-text {
    min-width: 336px;
    margin-left: 32px;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about-pre-text {
    max-width: 463px;
    margin-left: 100px;
  }
}

.about-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .about-text {
    text-align: left;
  }
}

.hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .hidden {
    display: block;
  }
}

.about-btn {
  font-family: "Montserrat";
  font-style: normal;
  width: 164px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.04em;
  border: none;
  color: #131313;
  background-color: #f8d24e;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 42.23px;
}
@media screen and (min-width: 768px) {
  .about-btn {
    margin: 0;
    margin-top: 48px;
  }
}
.about-btn__logo {
  margin-left: 4.82px;
}

.about-btn:hover {
  background: #0a8817;
}

.about-btn:focus {
  background: #0a8817;
  color: #fcfcfc;
}

.advantages {
  background-color: #84a178;
  padding-top: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 180px;
  }
}

.advantages__container {
  padding-left: 45px;
  padding-right: 45px;
}
@media screen and (min-width: 768px) {
  .advantages__container {
    padding-left: 76px;
    padding-right: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 160px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 64px) / 3);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 25px;
  background-size: 36px 36px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    margin-bottom: 40px;
  }
}

.advantages__item--first-icon::before {
  background-image: url(../images/advantages-icon-cow.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item--first-icon::before {
    background-image: url(../images/advantages-icon-cow-2x.png);
  }
}

.advantages__item--second-icon::before {
  background-image: url(../images/advantages-icon-weight.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item--second-icon::before {
    background-image: url(../images/advantages-icon-weight-2x.png);
  }
}

.advantages__item--third-icon::before {
  background-image: url(../images/advantages-icon-ice-crema.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item--third-icon::before {
    background-image: url(../images/advantages-icon-ice-crema-2x.png);
  }
}

.advantages__title {
  margin-bottom: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    margin-bottom: 16px;
    text-transform: lowercase;
    font-size: 48px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 58px;
    line-height: 1.22;
  }
}

.advantages__text {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 368px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.gallery {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .gallery {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1200px;
  }
}

.gallery__thumb {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border-radius: 7px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (min-width: 480px) {
  .gallery__thumb {
    width: 440px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__thumb {
    width: 768px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__thumb {
    width: 1013px;
    border-radius: 24px;
  }
}

.gallery__main-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.cust-rev-image1 {
  background-image: url(/src/images/cust-rev-image1.jpg);
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;
  margin-top: 452px;
  margin-bottom: 32px;
}

.cust-rev-image2 {
  background-image: url(/src/images/cust-rev-image2.jpg);
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;
  margin-top: 452px;
  margin-bottom: 32px;
}

.cust-rev-image3 {
  background-image: url(/src/images/cust-rev-image3.jpg);
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;
  margin-top: 452px;
  margin-bottom: 32px;
}

.cust-rev-image4 {
  background-image: url(/src/images/cust-rev-image4.jpg);
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;
  margin-top: 452px;
  margin-bottom: 32px;
}

.cust-rev {
  background-image: url(/src/images/ice-cream-back.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
}

.cust-rev-font-black {
  color: #131313;
}

.cust-rev-font-white {
  color: #FCFCFC;
}

.cust-rev-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.cust-rev-font-back {
  padding: 40px 75px;
  background-color: #84A178;
  border-radius: 24px;
}

.cust-rev-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cust-rev-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-decoration: none;
}

.cust-rev-swipe-pos {
  display: flex;
  flex-direction: row;
  gap: 18px;
  color: grey;
}

.cust-rev-swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #D9D9D9;
  background-color: #D9D9D9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust-rev-swipe:hover {
  color: #D9D9D9;
  background-color: #84A178;
}

.cust-rev-swipe:focus {
  color: #D9D9D9;
  background-color: #84A178;
}

.glide-arrow-pos {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.glide-arrow-pos:hover, .glide-arrow-pos:focus {
  color: green;
}

.contacts {
  padding-top: 0;
  background-color: var(--bgc-dark-olive);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 64px;
  }
}

.contacts__container {
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .contacts__container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
  }
}

.contacts__item {
  max-width: 280px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--title-color-light);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    width: calc((100% - 32px) / 3);
    max-width: 224px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    width: calc((100% - 64px) / 3);
    max-width: 368px;
    padding: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__item:last-child {
    margin-bottom: 32px;
  }
}

.address__link {
  display: flex;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #d6936d;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .address__link {
    padding-bottom: 32px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .address__link {
    font-size: 16px;
    line-height: 1.8125;
  }
}
.address__link:hover {
  color: var(--accent-color-yellow);
}
.address__link:focus {
  color: var(--accent-color-yellow);
}

.address__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

.worktime__list {
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .worktime__list {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}
.worktime__list::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

.worktime__item:first-child {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .worktime__item:first-child {
    margin-bottom: 12px;
  }
}

.contacts__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-color-dark);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 16px;
    line-height: 1.875;
  }
}
.contacts__link:hover {
  color: var(--accent-color-yellow);
}
.contacts__link:focus {
  color: var(--accent-color-yellow);
}

.contacts__component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__component {
    flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__component {
    flex-direction: row;
    gap: 16px;
  }
}

.button__locations {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 196px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  margin: 0 auto;
  color: var(--text-color-dark);
  background-color: var(--accent-color-yellow);
  border-radius: 10px;
  border: 2px solid var(--accent-color-yellow);
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .button__locations {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .button__locations {
    margin: 0;
  }
}
.button__locations:hover {
  background-color: var(--hover-focus-green-color);
  border: 2px solid var(--hover-focus-green-color);
}
.button__locations:focus {
  background-color: var(--hover-focus-green-color);
  color: var(--text-color-light);
}

.button__green {
  background-color: var(--bgc-dark-olive);
  border: 2px solid var(--accent-color-yellow);
}
.button__green:hover {
  background-color: var(--bgc-dark-olive);
  border: 2px solid var(--hover-focus-green-color);
}
.button__green:focus {
  background-color: var(--bgc-dark-olive);
  color: var(--text-color-light);
}

.contacts__lable {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--accent-color-yellow);
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--text-color-dark);
}
@media screen and (min-width: 768px) {
  .contacts__lable {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 32px;
  }
}

.contacts__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  color: var(--text-color-dark);
}
@media screen and (min-width: 768px) {
  .contacts__text {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__text {
    font-size: 16px;
    line-height: 1.875;
  }
}
.contacts__text--gray {
  color: #ababab;
}
.contacts__text--position {
  display: inline-block;
  margin-bottom: 8px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .contacts__text--position {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__text--position {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.875;
  }
}

.franchise-modal {
  max-width: 530px;
}
@media screen and (min-width: 768px) {
  .franchise-modal {
    max-width: 568px;
    height: 668px;
  }
}

.btn-test {
  position: relative;
  left: -100%;
  transform: translateY(-100%);
  width: 100px;
  height: 100px;
}

.locations-modal {
  min-width: 280px;
  min-height: 365px;
}/*# sourceMappingURL=index.css.map */