@import '~node_modules/modern-normalize/modern-normalize.css';
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.gallery {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .gallery {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1200px;
  }
}

.gallery__thumb {
  position: relative;
  width: 280px;
  top: -16px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border-radius: 7px;
  overflow: hidden;
  border: none;
}
@media screen and (min-width: 480px) {
  .gallery__thumb {
    width: 440px;
    top: -22px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__thumb {
    width: 768px;
    top: -50px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__thumb {
    width: 1013px;
    top: -92px;
    border-radius: 24px;
  }
}

.gallery__list {
  position: relative;
}

.gallery__item {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery__item img {
  width: 1013px;
  height: 422px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: gallery;
          animation-name: gallery;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.gallery__item:nth-child(1) img {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.gallery__item:nth-child(2) img {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.gallery__item:nth-child(3) img {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.gallery__main-image, .gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

@-webkit-keyframes rotate {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  59.99999% {
    transform: rotate(45deg) scale(3);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  59.99999% {
    transform: rotate(45deg) scale(3);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes gallery {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  25% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  33% {
    opacity: 0;
    transform: rotate(33deg) scale(3);
  }
  50% {
    opacity: 0;
    transform: rotate(50deg) scale(3);
  }
  50% {
    opacity: 0;
    transform: rotate(75deg) scale(3);
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gallery {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  25% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  33% {
    opacity: 0;
    transform: rotate(33deg) scale(3);
  }
  50% {
    opacity: 0;
    transform: rotate(50deg) scale(3);
  }
  50% {
    opacity: 0;
    transform: rotate(75deg) scale(3);
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */