%align-center {
  display: flex;
  align-items: center;
}

%align-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%justify-center {
  display: flex;
  justify-content: center;
}
