:root {
  --accent-color-yellow: #f8d24e;
  --title-color-light: #fcfcfc;
  --text-color-light: #fcfcfc;
  --title-color-dark: #131313;
  --text-color-dark: #131313;
  --hover-focus-green-color: #0a8817;
  --bgc-dark-olive: #84a178;
  --bgc-light-olive: #aec6a5;
}
