<section class="about">
  <div class="about-container">
    <p class="about-pre-titile_text">Tradition and love</p>
    <h2 id="made" class="about-titile">How it’s made?</h2>
    <div class="about-img">
      <img
        src="/src/images/about/cow-1x.jpg"
        class="about-img_picture"
        alt="cow"
      />
    </div>

    <div class="about-pre-text">
      <p class="about-text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about-text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <button class="about-btn">Read more</button>
    </div>
  </div>
</section>
