<section class="about about-section">
  <div class="container">
    <p class="about-pre-titile_text">Tradition and love</p>
    <h2 id="made" class="about-titile">How it’s made?</h2>
    <div class="about-container">
      <div class="about-img cow-thumb">
        <picture>
          <source
            srcset="../src/images/about/png/cow-desktop-1k.png"
            type="photo/png"
          />
          <source
            srcset="../src/images/about/png/cow-desktop-2k.png"
            type="photo/png"
          />
          <source
            srcset="../src/images/about/png/cow-mob-1k.png"
            type="photo/png"
          />
          <source
            srcset="../src/images/about/png/cow-mob-2k.png"
            type="photo/png"
          />
          <source
            srcset="../src/images/about/png/cow-tab-1k.png"
            type="photo/png"
          />
          <source
            srcset="../src/images/about/png/cow-tab-2k.png"
            type="photo/png"
          />
          <img
            src="../src/images/about/png/cow-desktop-1k.png"
            class="about-img__picture"
            alt="cow"
          />
        </picture>
      </div>

      <div class="about-pre-text">
        <p class="about-text aboute-text_one">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-text aboute-text_two">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about-text aboute-text_three hidden">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button data-read-more-modal-open class="about-btn">
          Read more<svg class="about-btn__logo" width="12" height="12">
            <use href="../src/images/icons.svg#icon-arow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
