<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts our company</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <ul class="contacts__wrapper list">
          <li class="contacts__element">
            <p class="contacts__lable">CAFE</p>
          </li>

          <li class="contacts__element">
            <p class="contacts__text--position">Chicago</p>
            <address class="contacts__address">
              <a
                class="address__link link"
                href="https://goo.gl/maps/oGXmkT78TumbWZms6"
                target="_blank"
                rel="noopener noreferrer"
              >
                10340 Ridgeland Ave, Chicago&nbsp;Ridge, IL 60415, USA</a
              >
            </address>
          </li>

          <li class="contacts__element">
            <ul class="worktime__list list">
              <li class="worktime__item">
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text--gray">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text--gray">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>

          <li class="contacts__element">
            <ul class="contacts__info list">
              <li class="contacts__part">
                <a href="tel:+61(0)383766284" class="contacts__link link">
                  +61(0) 383 766 284</a
                >
              </li>
              <li class="contacts__part">
                <a href="mailto:noreply@envato.com" class="contacts__link link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <ul class="contacts__wrapper list">
          <li class="contacts__element">
            <p class="contacts__lable">FOODTRUCK</p>
          </li>

          <li class="contacts__element">
            <p class="contacts__text--position">Los Angeles</p>
            <address class="contacts__address">
              <a
                class="address__link link"
                href="https://goo.gl/maps/SKHdrAB1LhrFLpKi7"
                target="_blank"
                rel="noopener noreferrer"
              >
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </address>
          </li>

          <li class="contacts__element">
            <ul class="worktime__list list card-set">
              <li class="worktime__item card-item">
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text--gray">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text--gray">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>

          <li class="contacts__element">
            <ul class="contacts__info list">
              <li class="contacts__part">
                <a href="tel:+61(0)383766284" class="contacts__link link">
                  +61(0) 383 766 284</a
                >
              </li>
              <li class="contacts__part">
                <a href="mailto:noreply@envato.com" class="contacts__link link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <ul class="contacts__wrapper list">
          <li class="contacts__element">
            <p class="contacts__lable">CAFE</p>
          </li>

          <li class="contacts__element">
            <p class="contacts__text--position">New York</p>
            <address class="contacts__address">
              <a
                class="address__link link"
                href="https://goo.gl/maps/LNKcwT5xm1pe3NK29"
                target="_blank"
                rel="noopener noreferrer"
              >
                726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </address>
          </li>

          <li class="contacts__element">
            <ul class="worktime__list list">
              <li class="worktime__item">
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text--gray">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text--gray">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>

          <li class="contacts__element">
            <ul class="contacts__info list">
              <li class="contacts__part">
                <a href="tel:+61(0)383766284" class="contacts__link link">
                  +61(0) 383 766 284</a
                >
              </li>
              <li class="contacts__part">
                <a href="mailto:noreply@envato.com" class="contacts__link link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__component">
      <button class="button__locations" type="submit" data-locations-modal-open>
        Our Locations
        <svg class="contacts-button-arrow" width="12" height="12">
          <use href="../src/images/icons.svg#icon-arow"></use>
        </svg>
      </button>

      <button
        class="button__locations button__green"
        type="submit"
        data-franchise-modal-open
      >
        Franchise

        <svg class="contacts-button-arrow" width="12" height="12">
          <use href="../src/images/icons.svg#icon-arow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
