<section class="cust-rev" id="cust-rev">
    
    <div class=" container">
    
<div class="glide">
<div data-glide-el="track" class="glide__track">
<ul class=" cust-rev-center cust-rev-list glide__slides ">
    <li><a href="#" class=" glide__slide cust-rev-list">
        <div class="cust-rev-center "> 
            <span class="cust-rev-image1 "> </span>
        </div>
        <p class="cust-rev-font cust-rev-font-back cust-rev-font-white">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
    <p class="cust-rev-font  cust-rev-font-black">Emily, Los Angeles</p>  
</a>
</li>
    <li><a href="#" class=" glide__slide cust-rev-list">
        <div class="cust-rev-center "> 
            <span class="cust-rev-image2 "> </span>
        </div>
        <p class="cust-rev-font cust-rev-font-back cust-rev-font-white">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
    <p class="cust-rev-font  cust-rev-font-black">Bryan, New-York</p> 
 </a>
</li>
    <li><a href="#" class=" glide__slide cust-rev-list">
        <div class="cust-rev-center "> 
            <span class="cust-rev-image3 "> </span>
        </div>
        <p class="cust-rev-font cust-rev-font-back cust-rev-font-white">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
    <p class="cust-rev-font  cust-rev-font-black">Diana, Chicago</p>  
</a>
</li>
    <li><a href="#" class=" glide__slide cust-rev-list">
        <div class="cust-rev-center "> 
            <span class="cust-rev-image4 "> </span>
        </div>
        <p class="cust-rev-font cust-rev-font-back cust-rev-font-white">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.</p>
    <p class="cust-rev-font  cust-rev-font-black">Sam, Los Angeles</p>
  </a>
</li>
</ul>
</div>
<div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
  </div>

</div>
<ul class=" cust-rev-center cust-rev-list  cust-rev-swipe-pos ">
<li><a href="#" class="cust-rev-swipe"></a></li>
<li><a href="#" class="cust-rev-swipe"></a></li>
<li><a href="#" class="cust-rev-swipe"></a></li>
<li><a href="#" class="cust-rev-swipe"></a></li>
</ul>

</div>
</section>