<footer class="footer">
  <div class="container">
    <div class="footer-card-set">
      <ul class="tagline__list list">
        <li class="tagline__item">
          <p class="tagline__text">homemade ice cream made</p>
        </li>
        <li class="tagline__item">
          <p class="tagline__text tagline__text--akcent">with passion</p>
        </li>
      </ul>
      <div class="social">
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon" width="18" height="18">
                <use href="../src/images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="telegram"
            >
              <svg class="social__icon" width="19" height="14">
                <use href="../src/images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="facebook"
            >
              <svg class="social__icon" width="9" height="19">
                <use href="../src/images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="footer-contakt__list list">
          <li class="footer-contakt__item">
            <p class="footer-contakt__text">Feel free to contact</p>
          </li>
          <li class="footer-contakt__item">
            <a
              class="footer-contakt__link footer-contakt__text"
              href="tel:+610383766284"
              >+61 (0) 383 766 284</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__border"></div>
  <p class="copyright">© 2022 - IceCream. All Rights Reserved.</p>
</footer>