<div class="backdrop">
  <div class="franchise-modal">
    <h3 class="modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </h3>
    <p class="modal__text modal__text--margin-bottom">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form action="">
      <input type="text" name="username" placeholder="Name" />
      <input type="text" name="phone" placeholder="Phome" />
      <input type="text" name="mail" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="Comment"
      ></textarea
      ><button type="submit"></button>
    </form>
  </div>
</div>
