<setion class="gallery">
  <h1 class="visually-hidden">Gallery</h1>
  <picture>
    <source
      srcset="
        ./images/gallery/main-gallery-desktop.jpg    1x,
        ./images/gallery/main-gallery-desktop-2x.jpg 2x
      "
      media="(min-width:1200px)"
    />
    <source
      srcset="
        ./images/gallery/main-gallery-tablet.jpg    1x,
        ./images/gallery/main-gallery-tablet-2x.jpg 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
        ./images/gallery/main-gallery-mobile.jpg    1x,
        ./images/gallery/main-gallery-mobile-2x.jpg 2x
      "
      media="(max-width:767px)"
    />
    <img
      src="./images/gallery/main-gallery-desktop.jpg"
      alt="Main Gallery Icecream"
      class="gallery__image"
      width="1013"
    />
  </picture>
</setion>
