<div>
  <h1 class="title-modal1">Buy now</h1>
  <ul class="modal1-list">
    <li class="modal-item">
      <a href="" class="">
        <picture>
          <source
            srcset="./images/ice-cream.png 1x, ./images/ice-cream-2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/ice-cream-tab.png    1x,
              ./images/ice-cream-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/ice-cream-mob.png    1x,
              ./images/ice-cream-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/ice-cream.png" alt="" />
        </picture>
        <p>ice-cream</p>
      </a>
    </li>

    <li class="modal-item">
      <a href="" class="">
        <picture>
          <source
            srcset="./images/ice coffee.png 1x, ./images/ice coffee-2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/ice coffee-tab.png    1x,
              ./images/ice coffee-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/ice coffee-mob.png    1x,
              ./images/ice coffee-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/ice coffee.png" alt="" />
        </picture>
        <p>ice coffee</p>
      </a>
    </li>
    <li class="modal-item">
      <a href="" class="">
        <picture>
          <source
            srcset="./images/milkshake.png 1x, ./images/milkshake-2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/milkshake-tab.png    1x,
              ./images/milkshake-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/milkshake-mob.png    1x,
              ./images/milkshake-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/milkshake.png" alt="" />
        </picture>
        <p>milkshake</p>
      </a>
    </li>
  </ul>
</div>
