<div data-buy-now-modal class="backdrop modal-is-hidden">
  <div class="modal">
    <button data-buy-now-modal-close type="button" class="modal__btn-close">
      <svg width="20" height="20">
        <use
          class="modal__icon--mobile"
          href="./images/icons.svg#icon-close-btn-mobile"
        ></use>
        <use
          class="modal__icon--desktop"
          href="./images/icons.svg#icon-close-btn-desktop"
        ></use>
      </svg>
    </button>
    <h3>Buy now</h3>
    <div>
      <input type="checkbox" name="ice-cream" />
    </div>

    <input type="checkbox" name="ice-coffee" />
    <input type="checkbox" name="milkshake" />
    <input type="name" />
    <input type="tel" />
    <input type="textarea" />
    <button type="submit"></button>
  </div>
</div>
