<section class="products" id="products">
  <div class="container products__container">
    <p class="products__paragraph link">100% natural</p>
    <h2 class="products__title link">products</h2>
    <ul class="products-list list">
      <li class="products-list__item">
        <div class="products-list__thumb">
          <!-- <div class="circle"></div> -->
          <picture>
            <source
              srcset="
                ./images/products/ice-cream-des.jpg   1x,
                ./images/products/ice-cream-des-2.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/products/ice-cream-tab.jpg   1x,
                ./images/products/ice-cream-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/products/ice-cream.jpg   1x,
                ./images/products/ice-cream-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="products-list__photo"
              src="./images/products/ice-cream-des.jpg"
              alt="ice cream"
            />
          </picture>
        </div>
        <div class="products-list__box products-list__box--color-green">
          <h2 class="products-list__title">ice cream</h2>
          <p class="products-list__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="products-button" data-ingredients-modal-open>
            <svg class="products__icon" width="120" height="20">
              <use href="./images/icons.svg#icon-arrow-focus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__thumb">
          <!-- <div class="circle"></div> -->
          <picture>
            <source
              srcset="
                ./images/products/ice-coffee-des.jpg   1x,
                ./images/products/ice-coffee-des-2.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/products/ice-coffee-tab.jpg   1x,
                ./images/products/ice-coffee-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/products/ice-coffee.jpg   1x,
                ./images/products/ice-coffee-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="products-list__photo"
              src="./images/products/ice-coffee-des.jpg"
              alt="ice coffee"
            />
          </picture>
        </div>
        <div class="products-list__box products-list__box--color-yellow">
          <h2 class="products-list__title">ice coffee</h2>
          <p class="products-list__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="products-button" data-ingredients-modal-open>
            <svg class="products__icon" width="120" height="20">
              <use href="./images/icons.svg#icon-arrow-focus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__thumb">
          <!-- <div class="circle"></div> -->
          <picture>
            <source
              srcset="
                ./images/products/milkshakes-des.jpg   1x,
                ./images/products/milkshakes-des-2.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/products/milkshakes-tab.jpg   1x,
                ./images/products/milkshakes-tab-2.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/products/milkshakes.jpg   1x,
                ./images/products/milkshakes-2.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="products-list__photo"
              src="./images/products/milkshakes-des.jpg"
              alt="milkshakes"
            />
          </picture>
        </div>
        <div class="products-list__box products-list__box--color-brown">
          <h2 class="products-list__title">milkshakes</h2>
          <p class="products-list__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="products-button" data-ingredients-modal-open>
            <svg class="products__icon" width="120" height="20">
              <use href="./images/icons.svg#icon-arrow-focus"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
