.modal__read-more {
  z-index: 2;
  max-width: 530px;
  @include tablet {
    max-width: 568px;
    height: 449px;
    @media screen and (max-height: 669px) {
      top: 7%;
    }
  }
}

.youtube-video {
  border-radius: 10px;
  max-width: 224px;
  height: 199px;
  @include mobile {
    max-width: 448px;
    height: 205px;
  }
  margin-bottom: 20px;
}

.backdrop__read-more-modal {
  z-index: 10;
}
