// Buy now modal
.modal1__item {
  position: relative;
}
.modal1__item + .modal1__item {
  margin-top: -20px;
}
.modal1-picture {
  position: absolute;
  z-index: 1;
}
.ellipse1 {
  transform: translateY(7%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.border1 {
  width: 132px;
  height: 136px;
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  transform: translateY(-60%);
}

.border1:hover,
.border1:focus {
  background-color: #96af8c;
}
.ellipse2 {
  transform: translateY(7%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.border2 {
  width: 132px;
  height: 136px;
  border: 2px solid #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  border-radius: 15.7808px;
  transform: translateY(-60%);
}

.border2:hover,
.border2:focus {
  background-color: #efd478;
}
.ellipse3 {
  transform: translateY(7%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.border3 {
  width: 132px;
  height: 136px;
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  transform: translateY(-60%);
}

.border3:hover,
.border3:focus {
  background-color: #d6936d;
}
.modal1__text {
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 96px;
}

.submit-btn {
  width: 114px;
  height: 42px;
  padding: 0;
  background: #f8d24e;
  border-radius: 10px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  @extend %align-justify-center;
  @include tablet {
    width: 121px;
    font-size: 14px;
    line-height: 17px;
  }

  cursor: pointer;
  color: #131313;
  border: none;
}
