.ingredients .modal {
  padding: 30px 20px;
  @include tablet {
    width: 568px;
  }
  @media screen and (max-height: 909px) {
    top: 0;
    transform: translate(-50%);
  }
}
.modal__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
.modal__btn-close {
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
}

.ingredients__picture {
  z-index: 1;
  margin-bottom: 32px;
}
.shadow {
  transform: translateY(-117%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.value__list {
  display: flex;
  margin-top: -132px;
}
.value__item {
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  @include tablet {
    width: 65px;
    height: 90px;
  }
}
.value__item + .value__item {
  margin-left: 10px;
  @include tablet {
    margin-left: 20px;
  }
}
.value__title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  line-height: 2;
  width: 43px;
  height: 43px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #9cbe8f;
  background-color: #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  margin-left: 3px;
  padding-top: 8px;
  margin-bottom: 8px;
  @include tablet {
    width: 53px;
    height: 53px;
    line-height: 2.33;
    padding-top: 12px;
    margin-bottom: 7px;
    font-size: 12px;
    margin-left: 4px;
  }
}
.value__text {
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ingredients__list {
  width: 100%;
  padding: 0px 0px 48px 0px;
  @include tablet {
    padding: 0px 20px 48px 20px;
  }
}
.ingredients__title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 24px;
}
.ingredients__text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}
.ingredient {
  margin-right: auto;
}
.amount {
  margin-left: auto;
}

.ingredients__item {
  display: flex;
}
.ingredients__item + .ingredients__item {
  margin-top: 11px;
}
