// Buy now modal
.modal1-list {
  @include tablet {
    display: flex;
  }
}
.modal1__item {
  position: relative;
}
.modal1__item + .modal1__item {
  margin-top: -50px;
  @include tablet {
    margin-left: 32px;
    margin-top: 0;
  }
}
.modal1-picture {
  position: absolute;
  z-index: 1;
}
.ellipse {
  transform: translateY(7%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.border {
  width: 132px;
  height: 136px;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  transform: translateY(-60%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.green-ellipse {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
}
.green-border {
  border: 2px solid #96af8c;
}
.green-border:hover,
.green-border:focus {
  background-color: #96af8c;
}
.yellow-ellipse {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
}
.yellow-border {
  border: 2px solid #efd478;
}

.yellow-border:hover,
.yellow-border:focus {
  background-color: #efd478;
}
.orange-ellipse {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
}
.orange-border {
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}
.orange-border:hover,
.orange-border:focus {
  background-color: #d6936d;
}

.modal1__text {
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 96px;
}
.modal__form--other-margin {
  margin-top: -50px;
}
.modal__btn {
  width: 114px;
  height: 42px;
  padding: 0;
  background: #f8d24e;
  border-radius: 10px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  @extend %align-justify-center;
  @include tablet {
    width: 121px;
    font-size: 14px;
    line-height: 17px;
  }
  cursor: pointer;
  color: #131313;
  border: none;
}
