// Buy now modal
.modal1__text {
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-btn {
  width: 114px;
  height: 42px;
  padding: 0;
  background: #f8d24e;
  border-radius: 10px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  @extend %align-justify-center;
  @include tablet {
    width: 121px;
    font-size: 14px;
    line-height: 17px;
  }

  cursor: pointer;
  color: #131313;
  border: none;
}

// Ingredients modal

.ingredients__picture {
  z-index: 1;
  padding-bottom: 32px;
}
.shadow {
  transform: translateY(-117%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.value__list {
  display: flex;
  margin-top: -132px;
}
.value__item {
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
}
.value__item + .value__item {
  margin-left: 9px;
}
.value__title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: 2.33;
  width: 43px;
  height: 43px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #9cbe8f;
  background-color: #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}
.value__text {
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ingredients__list {
  padding-bottom: 48px;
}
.ingredients__title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 24px;
}
.ingredients__text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}
.ingredient {
  margin-right: 36px;
}
.amount {
  margin-left: auto;
}

.ingredients__item {
  display: flex;
}
