
.footer {
  background-color: var(--bgc-dark-olive);
  padding-top: 0px;
  padding-bottom: 62px;

  @include tablet {
    padding-top: 0px;
    padding-bottom: 13px;
  }
  @include desktop{
  padding-top: 56px;
  padding-bottom: 11px;
  }
}

.footer-card-set {
  display: block;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
 
}

.tagline__item {
  margin-left: 22px;
  margin-bottom: 16px;

  &:last-child {
    margin-left: 20px;
    margin-bottom: 42px;
  }

  @include tablet {
    margin-left: 33px;
    margin-bottom: 9px;

    &:last-child {
      margin-left: 33px;
      margin-bottom: 32px;
    }
  }

  @include desktop {
    margin-left: 16px;
    margin-bottom: 14px;

    &:last-child {
      margin-left: 16px;
      margin-bottom: 54px;
    }

  }
}

.tagline__text {
  display: block;
  color: var(--title-color-light);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: calc(22 / 18);
  width: 232px;

  @include tablet {
    width: 341px;
    font-size: 26px;
    line-height: calc(32 / 26);
    letter-spacing: 0.04em;
  }

  @include desktop {
    font-size: 30px;
    font-weight: 400;
    line-height: calc(37 / 30);
    width: 100%;
  }
}

.tagline__text--akcent {
  font-size: 34px;
  line-height: calc(41 / 34);
  letter-spacing: 0.04em;

  @include tablet {
    font-size: 48px;
    letter-spacing: calc(59 / 48);
    letter-spacing: 0.06em;
  }

  @include desktop {
    font-size: 58px;
    line-height: calc(71 / 58);
    font-weight: 700;
  }
}

.social {
  display: block;
  margin-right: 20px;

  @include tablet {
    margin-right: 32px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @include desktop {
    margin-right: 16px;

  }
}

.social__list {
  display: flex;
  gap: 27px;
  justify-content: flex-end;
  margin-bottom: 38px;

  @include tablet {
    gap: 30px;
    margin-bottom: 32px;
  }
  @include desktop{margin-bottom: 40px;}
}

.social__item {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: var(--accent-color-yellow);
  border-radius: 50%;
  transition: width, height;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    width: 32px;
    height: 32px;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: var(--text-color-light);
  }
}

.social__icon {
  fill: var(--bgc-dark-olive);
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contakt__list {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 56px;
  }
}

.footer-contakt__text {
  font-size: 12px;
  line-height: 186%;
  color: var(--text-color-dark);
  font-weight: 700;

  @include tablet {
    font-size: 14px;
  }
  @include desktop
  {
    font-size: 16px;
  }
}

.footer-contakt__link {
  color: var(--text-color-light);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contakt__link:hover,
.footer-contakt__link:focus {
  color: var(--accent-color-yellow);
}

.footer__border {
  margin-bottom: 16px;
  border-bottom: 1px solid #e1e1e1;

  @include tablet {
    margin-bottom: 14px;
  }
  @include desktop{margin-bottom: 12px; }
}

.copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #7a7a7a;
  width: 137px;
  margin: auto;

  @include tablet {
    font-size: 14px;
    line-height: 186%;
    width: 100%;
    letter-spacing: 0.02em;
  }
  @include desktop{font-size: 12px;}
}