.gallery__thumb {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  @include mobile {
    width: 440px;
  }
  @include tablet {
    width: 704px;
  }

  @include desktop {
    width: 1013px;
  }
}
.gallery__swap {
  position: absolute;
  top: -24px;
  background-color: #ffffff;
  width: 280px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  overflow: auto;
  overflow-y: hidden;
  border: none;
  @include mobile {
    width: 440px;
    height: 180px;
    top: -26px;
  }
  @include tablet {
    width: 704px;
    height: 327px;
    top: -164px;
    border-radius: 18px;
  }

  @include desktop {
    width: 1013px;
    height: 422px;
    top: -94px;
    border-radius: 24px;
  }
}
.gallery__swap img {
  object-fit: cover;
}
.gallery__swap .gallery__photo-1 {
  position: relative;
  animation: rotateY1 10s linear infinite;
  backface-visibility: hidden;
}
.gallery__swap .gallery__photo-2 {
  position: absolute;
  top: 0;
  object-fit: cover;
  animation: rotateY2 10s linear infinite;
  backface-visibility: hidden;
}
@keyframes rotateY1 {
  0% {
    transform: rotateY(-180deg);
  }
  40% {
    transform: rotateY(-180deg);
  }
  50% {
    transform: rotateY(0);
  }
  90% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes rotateY2 {
  0% {
    transform: rotateY(0);
  }
  40% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  90% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
