.gallery {
  width: 100%;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.gallery__thumb {
<<<<<<< Updated upstream
=======
  position: relative;
>>>>>>> Stashed changes
  width: 280px;
  top: -16px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border-radius: 7px;
  object-fit: fill;
  overflow: hidden;
  border: none;
  & .gallery__main {position: relative; 
    animation: rotate 5s linear infinite;}
  & .gallery__secondary {position: absolute; 
    top:0; 
    animation: rotate 5s linear infinite;} 
    & > img:nth-child(1) {animation-delay: 5s;}
    & > img:nth-child(2) {animation-delay: 10s;}
    & > img:nth-child(3) {animation-delay: 15s;}
  @include mobile {
    width: 440px;
    top: -22px;
  }
  @include tablet {
    width: 768px;
    top: -50px;
    border-radius: 18px;}
  
  @include desktop {
    width: 1013px;
    top: -92px;
    border-radius: 24px;
}
}
.gallery__main-image {
  display: block;
  width: 100%;
  height: auto;
}
@keyframes rotate {
  0% {
      opacity: 1;
      transform: rotate(0) scale(1);
    }
    50% {
      transform: rotate(0) scale(1);
      opacity: 1;
    } 
    59.99999% {
      transform: rotate(45deg) scale(3);
      opacity: 0;
      z-index: 1;
    }
    60% {
      opacity: 0;
      z-index: -1;
    }  
    100% {
      opacity: 1;
    }  
  }