.cust-rev-image1{
    background-image: url(/src/images/cust-rev-image1.jpg);
    width: 85px;
    height: 85px;
    display: flex;
    border-radius: 50%;
  
  
  
  margin-top: 452px;
  margin-bottom: 32px;
  @extend %align-justify-center
}

.cust-rev-image2{
  background-image: url(/src/images/cust-rev-image2.jpg);
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;



margin-top: 452px;
margin-bottom: 32px;
@extend %align-justify-center
}

.cust-rev-image3{
  background-image: url(/src/images/cust-rev-image3.jpg);
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;



margin-top: 452px;
margin-bottom: 32px;
@extend %align-justify-center
}

.cust-rev-image4{
  background-image: url(/src/images/cust-rev-image4.jpg);
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;



margin-top: 452px;
margin-bottom: 32px;
@extend %align-justify-center
}

.cust-rev{
    background-image: url(/src/images/ice-cream-back.jpg);
    object-fit: cover;
    justify-content: center;

}

.cust-rev-font-black{
    color: #131313;
}

.cust-rev-font-white{
    color: #FCFCFC;
}

.cust-rev-font{
    
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 186%;

text-align: center;
letter-spacing: 0.04em;


margin-bottom: 32px;
@extend %align-justify-center
}

.cust-rev-font-back{
    padding: 40px 75px;
    background-color: #84A178;
    border-radius: 24px;
}

.cust-rev-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cust-rev-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-decoration: none;
  }
  

.cust-rev-swipe-pos{
    display: flex;
    flex-direction: row;
    gap: 18px;
    color: grey;
    
}


    .cust-rev-swipe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        color: #D9D9D9;
        background-color: #D9D9D9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .cust-rev-swipe:hover {
        color: #D9D9D9;
        background-color: #84A178;
        
      }
      
      .cust-rev-swipe:focus {
        color: #D9D9D9;
        background-color: #84A178;
       
      }

      .glide-arrow-pos{
        background-color: transparent;
        border: none;
        color: black;
       font-size: 40px;
       
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      .glide-arrow-pos:hover,.glide-arrow-pos:focus{
        color: green; 
      }